body {
    background-color: black;
    display: flex;
    column-gap:23px;
    div {
        background-color: aqua;
        a:hover {
            color: red;

        }
        a {
            color: #000;
        }
    }
}